
body {
margin:0;
font-family:Segoe UI, Arial;
background:#f4f6f8;
}

.topbar{
height:70px;
background:white;
display:flex;
align-items:center;
padding:0 24px;
box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.logo{height:48px;}

.center{
display:flex;
height:calc(100vh - 70px);
align-items:center;
justify-content:center;
color:#1e293b;
}
